.balance__container{
    background: #EFE6F8;
}
.front{
    z-index: 1 ;

}
.relative{
    position: relative;
    
}
.behind{
    width: 10px;
    height: 8px;
    position: absolute;
    left: 2.7px;
}